.game{
    border: 2px solid rgb(51, 178, 228);
    margin: 1rem;
}
.categories{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 8rem;
}
.categories label{
    margin-right: .25rem;
}
.reviews_container{
    border: 2px dotted rgb(51, 178, 228);
    margin: 1rem;
    padding: .5rem;
}
.edit-btn{
    width: 4rem;
    
}
/* .game-image img{
    
    max-width: 20rem;
    max-height: 20rem;
    border: 1px solid grey;
    border-radius: 12%;

} */
.game-image{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    
}
